<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] FizzBuzz: A Coding Project By Casey Spaulding</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FizzBuzz_MVC.styles.css" asp-append-version="true" />
    <!--FONT AWESOME-->
    <link href="/vendor/fontawesome6/css/fontawesome.css" rel="stylesheet">
    <link href="/vendor/fontawesome6/css/brands.css" rel="stylesheet">
    <link href="/vendor/fontawesome6/css/solid.css" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/site.css"> 
    <link rel="icon" type="image/png" href="img/favicon-32x32.png">
    <!-- FAVICON============================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/LOGO_cs_white_only_crop.png" class="d-inline-block align-text-top"
                         alt="Casey Spaulding Logo" width="37" height="28">
                         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FizzBuzz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">The Code</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FizzBuzzPage">FizzBuzz App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_blank" rel="noopener noreferrer" href="https://www.caseyspaulding.com">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer sticky-footer mt-auto py-2 text-white bg-info">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col order-last order-lg-first text-white bg-info gy-2">
                    <div class="col py-1">&copy; 2022 Casey Spaulding | casey.spaulding@me.com</div>
                </div>
                <div class="col d-flex align-items-center justify-content-center-start justify-content-lg-center">
                    <img src="/img/topLogoSig.png" alt="Casey Spaulding Logo">
                </div>
                <div class="col d-flex align-items-center justify-content-center justify-content-lg-center">
                    <div class="row">
                        <div class="col social"><a href="https://www.linkedin.com/in/caseyspaulding/"><i class="fa-heart fab fa-linkedin fa-2x"></i></a></div>
                        <div class="col social"><a href="http://www.github.com/caseyspaulding/"><i class="fa-heart fab fa-github fa-2x"></i></a></div>
                        <div class="col social"><a href="https://twitter.com/caseyspauldingg/"><i class="fa-heart fab fa-twitter fa-2x"></i></a></div>
                        <div class="col social"><a href="https://www.youtube.com/channel/UC5bLstR32GMs08BsNu_s5xg"><i class="fa-heart fab fa-youtube fa-2x"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer sticky-footer mt-auto py-2 text-white bg-info">
        <div class="container-fluid">
            &copy; 2022 Casey Spaulding | casey.spaulding@me.com <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
